# POSTGRES
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# REDIS
REDIS_HOST=
REDIS_PORT=


# DATABASE URL
DATABASE_URL=
TEST_DATABASE_URL=

# webhook
WEBHOOK_KEY=

# FASTAPI
APP_ENV=
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=

#Redis
REDIS_HOST=
REDIS_PORT=
